<%= form_with(model: boggle, local: true) do |form| %>
  <% if boggle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boggle.errors.count, "error") %> prohibited this boggle from being saved:</h2>

      <ul>
      <% boggle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :board %>
    <%= form.text_field :board %>
  </div>

  <div class="field">
    <%= form.label :row %>
    <%= form.number_field :row %>
  </div>

  <div class="field">
    <%= form.label :col %>
    <%= form.number_field :col %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
